.p-home {
  &__hero {
    min-height: 70rem;
    width: 100%;
    background: url('../../../../../public/images/pages/home/pc/hero.jpg') no-repeat center center/cover;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: #ddd;
      opacity: 0.5;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &__inner {
      padding-top: 10rem;
      position: relative;
      z-index: 3;
      display: flex;
      column-gap: 2rem;
      align-items: center;

      &__details {
        width: 55rem;

        &__sml {
          font-size: 2.4rem;
          color: #333;
          font-family: $poppins;
          font-weight: bold;
        }

        &__head {
          font-size: 5rem;
          line-height: normal;
          font-weight: 900;
          color: #333;
          font-family: $poppins;
          margin: 0;
        }
      }

      &__img-cont {
        height: auto;
        width: 55rem;

        &__img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
