.p-home {
  &__hero {
    height: auto;
    width: 100%;
    background: url('/images/pages/home/pc/hero.jpg') no-repeat center center/cover;
    position: relative;
    z-index: 1;
    mix-blend-mode: multiply;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: #f2f2f2;
      opacity: 0.5;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &__inner {
      padding: 13rem 0 10rem;
      position: relative;
      z-index: 3;
      display: flex;
      column-gap: 2rem;
      align-items: center;

      @include tablet {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 4rem;
        padding-top: 9rem;
        padding-bottom: 9rem;
      }

      @include sp {
        padding-bottom: 7rem;
      }

      &__details {
        width: 55rem;
        text-align: start;

        @include tablet {
          text-align: center;
          width: 100%;
        }

        &__sml {
          font-size: 2.4rem;
          color: #333;
          font-family: $poppins;
          font-weight: bold;

          @include laptop {
            font-size: 1.8rem;
          }

          @include tablet {
            font-size: 1.6rem;
          }

          @include sp {
            font-size: 1.4rem;
          }
        }

        &__head {
          font-size: 5rem;
          line-height: normal;
          font-weight: 900;
          color: #333;
          font-family: $poppins;
          margin: 0;

          @include laptop {
            font-size: 4.5rem;
          }

          @include tablet {
            font-size: 4rem;
          }

          @include sp {
            font-size: 2.9rem;
          }

          &__gradient {
            background: rgb(53, 79, 82);
            background: linear-gradient(90deg, rgba(53, 79, 82, 1) 25%, rgba(132, 169, 139, 1) 50%, rgba(197, 216, 197, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &__border {
            font-size: 6rem;
            color: #fff;
            letter-spacing: 0.05em;
            padding: 0 1rem;
            background: linear-gradient(90deg, rgba(53, 79, 82, 1) 25%, rgba(132, 169, 139, 1) 50%, rgba(197, 216, 197, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-stroke: 1rem transparent;
            animation: gradient 5s ease infinite;
            background-size: 200% 200%;

            @include tablet {
              font-size: 5rem;
            }

            @include sp {
              font-size: 4rem;
            }
          }
        }

        &__btn-cont {
          display: flex;
          column-gap: 2rem;
          align-items: center;
          margin-top: 4rem;

          @include tablet {
            justify-content: center;
          }

          @include sp {
            flex-direction: column;
            row-gap: 1rem;
          }
        }
      }

      &__img-cont {
        height: auto;
        width: 55rem;

        @include tablet {
          width: 45rem;
        }

        @include sp {
          width: 100%;
        }

        &__img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &__about {
    padding: 10rem 0 15rem;
    background: #f2f2f2;

    &__inner {
      &__details {
        display: grid;
        grid-template-columns: 40rem auto;
        margin-top: 10rem;
        justify-content: center;
        column-gap: 10rem;

        &__slide {
          height: 60rem;
          width: 40rem;
          box-shadow: 2rem 2rem 0 rgba($color: #333, $alpha: 1.0);

          &__container {
            height: 100%;
            width: 100%;

            &__img-cont {
              height: 100%;
              width: 100%;

              &__img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }

        &__info {
          width: max-content;
          display: grid;
          place-items: center;

          &__wrap {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            background: #C5D8C5;
            border-radius: 2rem;
            padding: 2rem;
            border: 0.3rem solid #333;
          }

          &__item {
            font-size: 2rem;
            font-family: $poppins;
            display: grid;
            grid-template-columns: 15rem 1fr;

            &__ttl {
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  &__skills {
    padding: 10rem 0 15rem;
    &__inner {
      &__content {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        column-gap: 3rem;
        row-gap: 3rem;
        margin-top: 10rem;

        &__items {
          width: 20rem;
          height: 20rem;
          display: grid;
          place-items: center;
          border: 0.3rem solid #333;

          &__img-cont {
            width: 15rem;
            height: 15rem;

            &__img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}