.c-button {
    &__primary {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        border: 0.2rem solid #354F52;
        color: #fff;
        background: #354F52;
        height: 5rem;
        font-family: $poppins;
        padding: 0 3rem;
        border-radius: 0.5rem;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        transition: 0.3s;

        @include sp {
            &.is-full {
                width: 100%;
                padding: 0.5rem 0;
            }
        }

        &__icon {
            font-size: 2rem;
            margin-top: -0.2rem;

            @include tablet {
                font-size: 1.8rem;
            }
        }

        &:hover {
            background: #fff;
            color: #333;
            border: 0.2rem solid #333;
        }
    }

    &__secondary {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        border: 0.1rem solid #C5D8C5;
        color: #333;
        background: #C5D8C5;
        height: 5rem;
        font-family: $poppins;
        padding: 0 3rem;
        border-radius: 0.5rem;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;

        @include sp {
            &.is-full {
                width: 100%;
                padding: 1.5rem 0;
            }
        }

        &__icon {
            font-size: 2rem;
            margin-top: -0.2rem;

            @include tablet {
                font-size: 1.8rem;
            }
        }
    }

    &__submit {
        border: 0.2rem solid #333;
        background: #C5D8C5;
        color: #333;
        padding: 2rem 10rem;
        border-radius: 1rem;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: $poppins;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background: #fff;
            color: #C5D8C5;
            border: 0.2rem solid #C5D8C5;
        }
    }
}