.c-accordion {
    font-size: 2rem;
    border-radius: 2rem;
    font-family: $poppins;
    background: #c5d8c533;

    @include sp {
        font-size: 1.6rem;
    }

    &__summary {
        display: block;
        position: relative;
        cursor: pointer;
        padding: 3rem 6rem 3rem 3rem;
        font-size: 2.4rem;
        font-weight: bold;

        @include sp {
            font-size: 1.8rem;
            padding: 3rem 4rem 3rem 2rem;
        }

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            width: .4em;
            height: .4em;
            right: 3rem;
            top: 0;
            bottom: 0;
            margin: auto 0;
            border-right: 0.5rem solid #84A98B;
            border-bottom: 0.5rem solid #84A98B;
            transform: rotate(45deg);
        }
    }

    &__content {
        padding: 0 3rem 3rem;
        font-size: 2rem;
        line-height: normal;

        @include sp {
            font-size: 1.8rem;
        }
    }

    &[open] &__summary::after {
        transform: rotate(-135deg);
    }
}