.c-header {
  height: 8rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: 0.3s;

  @include tablet {
    height: auto;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    @include tablet {
      position: relative;
    }

    &__logo {
      &__anchor {
        display: flex;
        text-decoration: none;
        color: #333;
        font-family: $poppins;
        column-gap: 1rem;
        align-items: center;

        &__icon-cont {
          height: 5rem;
          width: 5rem;

          @include tablet {
            height: 4rem;
            width: 4rem;
          }

          &__icon {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        &__txt {
          display: flex;
          flex-direction: column;

          &__span {
            font-size: 2rem;

            @include tablet {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    &__menu {
      display: none;

      @include tablet {
        display: grid;
        place-items: center;
        background: none;
        border: 0;
      }

      &__icon {
        font-size: 3rem;
      }
    }
  }

  &.is-active {
    top: 2rem;
    max-width: 116rem;
  }

  &.is-active & {
    &__inner {
      background: rgba($color: #fff, $alpha: 0.2);
      box-shadow: 0 0 3rem rgba($color: #000, $alpha: 0.3);
      padding: 0 4rem;
      border-radius: 4rem;
      border: 0.1rem solid #fff;
      backdrop-filter: blur(2rem);
      -webkit-backdrop-filter: blur(20px);

      @include sp {
        padding: 0 2.5rem;
      }
    }
  }
}
